[flexfield]
DEBUG = false
SERVER_NAME = localhost:5000
SITE_TITLE = <Your Site Title>
SECRET_KEY = <secret key for CSRF protection>
LOG_LEVEL = warning
LOG_FILENAME =

#[ldap]
#LDAP_HOST = ldap.example.org
#LDAP_PORT = 686
#LDAP_USE_SSL = true
#LDAP_BIND_USER_DN = cn=admin,dc=example,dc=org
#LDAP_BIND_USER_PASSWORD = admin1234
#LDAP_REQUIRE_CERT = NONE
#LDAP_BASE_DN = dc=example,dc=org
#LDAP_USER_DN = ou=people
#LDAP_USER_LOGIN_ATTRIBUTE = uid
#LDAP_USER_RDN_ATTRIBUTE = uid
#LDAP_USER_OBJECT_FILTER = (objectClass=inetOrgPerson)
#LDAP_SEARCH_FOR_GROUPS = false

[db]
DB_HOST = <your.db.host>
DB_PORT = 5432
DB_USER = <your_db_username>
DB_PASS = <your_db_password>
DB_NAME = <your_db_name>
PSQL_BIN = /usr/bin/psql
